
h1 { font-size: 24px;
	 color: #38b2ac	;
	}
h2 { font-size: 21px; color: #5a67d8; text "Makonnen Solomon: I am a financial advisor working with sagicor and guardian life."}	

p
	{
		font-size: 18px;
		color: red;
	}
